body {
  width: 99%;
  max-width: 1200px;
  font-size: 1em;
  color: #000;
  font-family: Verdana, Geneva, sans-serif;
  font-size: 1em;
  margin: 1em;
  background-image: url('../images/knitted.jpg');
}
header {
  background: #fff;
  padding: 1em 2em;
}
main {
  min-height: 465px;
  background: #fff;
  padding: 1em 2em;
}
footer {
  font-size: 55%;
  text-align: center;
  padding-top: 2em;
  height: 2.5em;
  background: #fff;
}
/*--TEXT AND LINKS--------------------------------*/
h1 {
  font-size: 350%;
  margin-bottom: .2em;
  color: #4d4d4d; 
}
h2 {
  font-size: 200%;
  font-weight: bolder;
  margin: .8em 0 .3em 0;
  color: #4d4d4d;
}
h3 {
  font-size: 150%;
  font-weight: bolder;
  color: #060604;
  margin-top: .5em;
}
h4 {
  font-size: 110%;
  font-weight: bolder;
  color: #3e3026;
}
a:link {
  text-decoration: none;
  color: #9c9084;
}
a:visited {
  color: #4d4d4d;
}
a:hover {
  color: #9c9084;
  text-decoration: underline;
}
/*--NAVIGATION--------------------------------*/
nav button {
  width: 23%;
  border: 1px solid #322016;
  border-radius: 10px;
  text-shadow: 0px 1.5px 1.5px rgba(0,0,0,0.3);
  background-color: #e0e6e6;
  color: #322016;
  font-size: 160%;
  padding: .4em 0;
  margin-right: .5em;
}
nav button:hover {
  background-color: #9B9084; /*rgba(0,0,0,0.3)*/
  color: #e0e6e6;
}
#nav-home, #nav-design, #nav-pattern, #nav-about {
  background-color: #AC855E; 
  color: #e0e6e6;
  /*border: 1px solid #322016;*/
}
/*--CONTENT--------------------------------*/
p {
  margin: 1em;
  line-height: 1.3em;
  letter-spacing: .02em;
}
p.notable {
  margin: 0 0 .5em 0;
}
p .emphasis {
  font-weight: bolder;
}
ol {
  list-style: decimal;
  margin: .5em 4em;
  line-height: 2em;
}
.colorize {
  color: #AC855E;
  font-weight: bolder;
  font-size: 1.2em;
}
.welcome h2 {
  color: #fede3d;
}
.team-member {
  color: #000;
  padding: .5em;
}
.team-member img {
  margin-top: 1em;
  margin-right: 1em;
}
#alternate-enter-name {
  width: 50%;
  margin: 0 auto; 
  border: 1px solid #060604;
  border-radius: 10px;
  padding: 1em;
}
#alternate-enter-name p {
  margin: 0;
}
#alternate-enter-name button {
  margin: 1em 0;
}
p#second-time {
  margin-top: .5em;
}
#molly {
  border: 1px solid #3a9d82;
}
#molly h3 {
  margin-top: -50px;
  margin-bottom: 0.5em;
}
#molly-picture {
  cursor: pointer;
}
#molly-bio {
  border-top: 1px solid #3a9d82;
  padding: .1em;
}
/*--TABLES--------------------------------*/
table {
  text-align: left;
  border: 1px solid #060604;
  margin-top: 1em;
  margin-left: 1em;
}
th, td {
  padding: .4em;
  margin: .1em;
}
th {
  text-align: right;
  font-style: italic;
  padding-right: 1em;
}
/*--FORMS--------------------------------*/
form {
  width: 50%;
  margin: 2em auto 0 auto;
  padding: 1em;
  border: 1px solid #060604;
  border-radius: 10px;
}
legend {
  font-weight: 300;
}
fieldset p {
  margin: .8em 0 .5em 1em;
}
fieldset .show-on-arrival, .show-on-arrival input {
  padding: 0 0 1em 0;
}
fieldset#size-choice input, fieldset#design-choices input {
  margin-top: -2px;
  margin-right: 4px;
}
fieldset#size-choice label, fieldset#design-choices label {
  margin: 0 0 .5em 1em;
}
label.disabled {
  color: #393939;
}
#name-save {
  margin: 0 auto;
}
#save-new-design {
  position: relative;
  width: 42%;
  margin: 2em 0 0 0;
  padding-bottom: 5em;
}
#knitter-name {
  margin-left: 5px;
}
/*--CANVAS--------------------------------*/
#render {
  position: fixed;
  top: 28%;
  left: 50%;
  width: 501px;
  height: 361px;
}
#canvas1, #canvas2, #canvas3, #canvas4 {
  position: absolute;
  top: 0;
  left: 0;
}
/*--BUTTONS--------------------------------*/
button {
  font-size: 120%;
  border: 1px solid #4d4d4d;
  border-radius: 10px;
  background-color: #9B9084;
  color: #e0e6e6;
  padding: 1em;
}
button:disabled {
  color: #393939;
}
button:hover {
  background-color: #AC855E;
  color: #fff;
}
#submit {
  margin-left: 1em;
}
#save-design {
  position: absolute;
  bottom: 1em;
  left: 1em;
}
#go-to-pattern {
  position: absolute;
  bottom: 1em;
  right: 1em;
}
#first-step, #print-this, #hide-molly {
  font-size: 80%;
}
#first-step {
  margin: -15px 0 0 1em;
}
#print-this {
  border: none;
  border-radius: 0;
  background: none;
  color: #AC855E;
  text-decoration: underline;
  margin: 0;
  padding: 0; 
}
#print-this:hover {
  cursor: pointer;
}
/*--RESPONSIVE--------------------------------*/
@media screen and (max-width: 1130px) {
  #render {
    position: relative;
    top: 1em;
    left: 0;
    margin: 0;
    padding: 0;
  }
  #save-new-design {
    width: 50%;
  }
}